/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --clr-dark: #202023;
  --clr-light: #f0e7db;
  --clr-yellow: #fbd38d;
  --clr-purple: #805ad5;
  --clr-tran-light: rgba(240, 231, 219, 0.6);
  --clr-tran-dark: rgba(32, 32, 35, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*after {
  box-sizing: border-box;
}

.dark-mode {
  --clr-tran-dark: rgba(240, 231, 219, 0.6);
  --clr-tran-light: rgba(32, 32, 35, 0.6);
  --clr-light: #202023;
  --clr-dark: #f0e7db;
  --clr-yellow: #805ad5;
  --clr-purple: #fbd38d;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-light);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/*icon button toggle*/

.theme-toggle {
  height: 40px;
  width: 40px;
  background-color: var(--clr-purple);
  border-color: var(--clr-purple);
  border-radius: 10px;
  border: none;
}

#icon {
  height: 20px;
  width: 20px;
  pointer-events: none;
}

button:active {
  border-style: none;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  position: fixed; 
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  background-color: var(--clr-tran-light);
  backdrop-filter: blur(8px);
  width: 100%;
  overflow: hidden;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

.nav-links img {
  height: 20px;
  width: 20px;
}

.nav-links li {
  margin-top: 7px;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
  text-decoration-color: var(--clr-dark);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--clr-dark);
}

.logo {
  font-size: 2rem;
  color: var(--clr-dark);
}

.logo:hover {
  cursor: default;
}

/* DROP-MENU */

#nav-menu {
  display: none;
}

.menu {
  position: relative;
  display: inline-block;
  left: 40px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--clr-dark);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2d3748;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  padding-left: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: #ededed;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links a:hover {
  text-decoration: underline;
  text-decoration-color: #ededed;
  background-color: #4f5765;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  margin-top: 5px;
  border: solid;
  border-color: #4f5765;
  border-radius: 20px;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child {
  transform: none;
}

.menu-icon span:first-child {
  opacity: 1;
}

.menu-icon span:first-child {
  transform: none;
}

/* SCROLL BAR*/

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #676767;
  outline: 1px solid #676767;
}

/* Sections */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0, 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile Section*/

#profile {
  display: flex;
  justify-content: center;
  gap: 5 rem;
  height: 80vh;
  padding-top: 150px;
}
.section-pic {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto, 0;
}
.section-text {
  align-self: center;
  text-align: center;
  padding-left: 4rem;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
}

.section-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icon */

.resource-icon {
  cursor: pointer;
  height: 2rem;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300s ease;
  padding: 1rem; 
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.2rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgba(0, 0, 0, 0);
}
 
.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.2rem solid;
}

btn-container {
  gap: 1rem;
}

/* About Section */

#about {
  position: relative;
}
