:root {
  --clr-dark: #202023;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-sky: #91E6D8;
  --clr-indigo: #4f46e5;

  /* sky rgb(145, 230, 216) */
  /* indigo rgb(79, 70, 229) */

  /* sizes from tailwindcss.com*/
  --size-xxs: 0.5rem;  
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-1g: 1.125rem;
  --size-x1: 125rem;
  --size-2x1: 1.5rem;
  --size-3x1: 1.875rem;
  --size-4x1: 2.25rem;
  --size-5x1: 3rem;
  --size-6x1: 3.75rem;
  --size-7x1: 4.5rem;
  --size-8x1: 6rem;
  --size-9x1: 8rem;
  --size-10x1: 10rem;

}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-sky);
}

strong {
  color: var(--clr-indigo);
}